<section class="login">
  <div class="login__container mt-4">
    <div class="login__userImage">
      <img src="../../assets/img/Banquet_Halls.png" />
    </div>
    <form [formGroup]="loginForm" autocomplete="off">
      <div class="md-form">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="email"
            required
          />
        </div>
      </div>
      <div class="md-form">
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            required
          />
        </div>
      </div>
      <div class="text-center">
        <button class="btn rounded-btn" (click)="loginUser()">Login</button>
      </div>
    </form>
  </div>
</section>
